<% action_url = post.persisted? ? post_url(post) : posts_url %>
<% http_method = post.persisted? ? "PATCH" : "POST" %>


<form action="<%= action_url%>" method="POST">
  <% if post.persisted?  %>
  <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label for="title">Title</label>
  <input id= "title" type="text" name="post[title]" value="<%= post.title %>">
  <br>

  <label for="url">Url</label>
  <input id= "url" type="text" name="post[url]" value="<%= post.url %>">
  <br>

  <label for="content">Content</label>
  <input id= "content" type="text" name="post[content]" value="<%= post.content %>">
  <br>

  <label for="sub">Choose a sub that you want to post to</label>
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
      <label for="sub"><%= sub.title %>
      <input type="checkbox"
            name="post[sub_ids][]"
            value= "<%= sub.id %>"
             <%= "checked" if post.sub_ids.include?(sub.id) %>>
      </label>
    <% end  %>
  <br>


  <input type="hidden" name="post[author_id]" value=" <%= current_user.id %>">

  <input type="submit" value=" <%= post.persisted? ? "Update!" : "Create!" %> ">

</form>
